<div class="flex flex-col flex-auto items-center justify-center h-full">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-3xl">

            <!-- Vertical stepper -->
            <div class="mt-2 mb-2 text-3xl font-bold">Registrarse</div>
            <div class="flex items-baseline mt-0.5 mb-2 font-medium">
                <div>Ya tiene una cuenta?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']">Sign in
                </a>
            </div>
            <form
                class="p-4 bg-card shadow rounded overflow-hidden"
                [formGroup]="verticalStepperForm">
                <mat-vertical-stepper
                    [linear]="true"
                    #verticalStepper>
                    <mat-step
                        [formGroupName]="'step1'"
                        [stepControl]="verticalStepperForm.get('step1')"
                        #verticalStepperStep1>
                        <ng-template matStepLabel>Información Personal</ng-template>
                        <p class="my-6 font-medium">
                            Complete su información básica para hacernos saber sus preferencias
                        </p>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'nombres'"
                                    [placeholder]="'Nombre Completo'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'apellido_paterno'"
                                    [placeholder]="'Apellido Paterno'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'apellido_materno'"
                                    [placeholder]="'Apellido Materno'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                        </div>


                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-select
                                    [formControlName]="'tipo_documento'"
                                    [placeholder]="'Tipo Documento'"
                                    required>
                                    <mat-option value="country-1">DNI</mat-option>
                                    <mat-option value="country-2">Pasaporte</mat-option>
                                </mat-select>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'nro_documento'"
                                    [placeholder]="'Nro Documento'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-select
                                    [formControlName]="'sexo'"
                                    [placeholder]="'Sexo'"
                                    required>
                                    <mat-option value="country-1">Masculino</mat-option>
                                    <mat-option value="country-2">Femenino</mat-option>
                                </mat-select>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'fecha_nacimiento'"
                                    [placeholder]="'Fecha Nacimiento'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'direccion'"
                                    [placeholder]="'Direccion'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'ubigeo'"
                                    [placeholder]="'Ubigeo'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex justify-end">
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="verticalStepperStep1.stepControl.pristine || verticalStepperStep1.stepControl.invalid"
                                type="button"
                                matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </mat-step>

                    <mat-step
                        [formGroupName]="'step2'"
                        [stepControl]="verticalStepperForm.get('step2')"
                        #verticalStepperStep2>
                        <ng-template matStepLabel>Información Empresa</ng-template>
                        <p class="my-6 font-medium">
                            People here will get to know you with this information
                        </p>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'razon_social'"
                                    [placeholder]="'Razon Social'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'nombre_comercial'"
                                    [placeholder]="'Nombre Comercial'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-select
                                    [formControlName]="'tipo_documento'"
                                    [placeholder]="'Tipo Documento'"
                                    required>
                                    <mat-option value="country-1">DNI</mat-option>
                                    <mat-option value="country-2">Pasaporte</mat-option>
                                </mat-select>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'nro_documento'"
                                    [placeholder]="'Nro Documento'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'nro_contacto'"
                                    [placeholder]="'Nro Contacto'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'direccion'"
                                    [placeholder]="'Direccion'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'ubigeo'"
                                    [placeholder]="'Ubigeo'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="fuse-mat-textarea flex-auto">
                                <textarea
                                    matInput
                                    [formControlName]="'about'"
                                    [placeholder]="'About'"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex justify-end">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Volver
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="verticalStepperStep2.stepControl.pristine || verticalStepperStep2.stepControl.invalid"
                                type="button"
                                matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </mat-step>

                    <mat-step
                        [formGroupName]="'step3'"
                        [stepControl]="verticalStepperForm.get('step3')">
                        <ng-template matStepLabel>Perfil</ng-template>
                        <p class="my-6 font-medium">
                            We'll always let you know about important changes, but you pick what else you want to hear about.
                        </p>
                        <div class="flex flex-col gt-sm:flex-row">
                            <div class="flex flex-col">
                                <span class="font-medium mb-2">By Email</span>
                                <div
                                    class="flex flex-col"
                                    [formGroupName]="'byEmail'">
                                    <mat-checkbox
                                        class="mb-1"
                                        [color]="'primary'"
                                        [formControlName]="'companyNews'">
                                        Company News
                                    </mat-checkbox>
                                    <mat-checkbox
                                        class="mb-1"
                                        [color]="'primary'"
                                        [formControlName]="'featuredProducts'">
                                        Featured Products
                                    </mat-checkbox>
                                    <mat-checkbox
                                        [color]="'primary'"
                                        [formControlName]="'messages'">
                                        Messages
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <input
                                        matInput
                                        [formControlName]="'email'"
                                        [placeholder]="'Email Address'"
                                        required>
                                    <mat-icon
                                        class="icon-size-5"
                                        matPrefix
                                        [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                <span class="font-medium mb-2">Push Notifications</span>
                                <mat-radio-group
                                    class="flex flex-col"
                                    [color]="'primary'"
                                    [formControlName]="'pushNotifications'">
                                    <mat-radio-button
                                        class="mb-2"
                                        [value]="'everything'">
                                        Everything
                                    </mat-radio-button>
                                    <mat-radio-button
                                        class="mb-2"
                                        [value]="'just-good'">
                                        Just the good stuff
                                    </mat-radio-button>
                                    <mat-radio-button [value]="'no-push'">
                                        No push notifications
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="flex justify-end mt-8">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Volver
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="button"
                                matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p class="my-6 font-medium">
                            Thank you for completing our form! You can reset the form if you would like to change your information.
                        </p>
                        <div class="flex justify-end mt-8">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Volver
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="reset"
                                (click)="verticalStepper.reset();">
                                Registrar
                            </button>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
            </form>

        </div>

    </div>

</div>
