<div class="px-6 py-10 sm:py-12 sm:px-16 bg-primary-600 text-on-primary-600">
    <div class="flex flex-col items-center w-full max-w-7xl mx-auto text-center">
        <div class="text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10">Boost your productivity.</div>
        <div class="mt-2 text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10 text-black text-opacity-70">Start using Fuse today.</div>
        <button
            mat-flat-button
            class="fuse-mat-button-large mt-8 px-12 bg-white text-primary-800">
            <span class="text-lg">Sign up for free</span>
        </button>
    </div>
</div>
