<div class="flex flex-col items-center pt-12 sm:pt-18 pb-8 sm:pb-20 px-6 sm:px-16 bg-gray-50 dark:bg-gray-800">
    <div class="w-full max-w-7xl">
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-tight">
                Frequently asked questions
            </div>
            <div class="max-w-xl mt-2 text-xl text-secondary">
                Here are the most frequently asked questions you may check before getting started
            </div>
        </div>
        <!-- FAQs grid -->
        <div class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:gap-x-16 w-full mt-12 sm:mt-16">
            <div>
                <div class="text-xl font-semibold">
                    What is the duration of the free trial?
                </div>
                <div class="mt-2 leading-6 text-secondary">
                    <p>
                        Our app is free to try for 14 days, if you want more, you can provide
                        payment details which will extend your trial to 30 days providing you
                        an extra 16 more days to try our app.
                    </p>
                </div>
            </div>
            <div>
                <div class="text-xl font-semibold">
                    Are there discounts for non-profits or educational use?
                </div>
                <div class="mt-2 leading-6 text-secondary">
                    <p>
                        Yes, our Personal and Premium packages are free for non-profits and
                        educational use. E-mail your details to us after starting your Free
                        Trial and we will upgrade your account if you qualify.
                    </p>
                </div>
            </div>
            <div>
                <div class="text-xl font-semibold">
                    What is the storage is for?
                </div>
                <div class="mt-2 leading-6 text-secondary">
                    <p>
                        Since we provide an extremely detailed reporting and analytics
                        tool, they require quite a bit storage space. For average use, you
                        don’t have to worry about running out of space since the
                        Personal package limits the projects you can have.
                    </p>
                    <p class="mt-2">
                        For some reason if you run out of space, contact us and we will
                        see what can be done about it and make sure you are not
                        generating unnecessary reports and/or analytics data.
                    </p>
                </div>
            </div>
            <div>
                <div class="text-xl font-semibold">
                    What happens if I’m not satisfied?
                </div>
                <div class="mt-2 leading-6 text-secondary">
                    <p>
                        If you are still in your free trial period, you can cancel your
                        account at anytime with a single click of a button. If you already
                        paid for your first month, we also offer 30-day money-back
                        guarantee with no questions asked.
                    </p>
                    <p class="mt-2">
                        After first month, you can still cancel your account at any time
                        but we will calculate the amount that corresponds to days you
                        have been using our app for that month and refund only the
                        remaining amount.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
